@page "/processmeter"
@layout MeterAfrica.Shared.TokenLayout


@using MeterAfrica.Data
@inject MeterAfrica.Data.MeterAfricaServices.ProcessMeterService _meterService;



<div class="container">
    <div class="paye" style="margin-bottom:30px">
        <div class="pay-info p-5">
            <div class="clearfix">
                <span class="pull-left"> <text style="color:orangered"></text></span>
                <span class="pull-right"> <strong>₦00:00</strong> </span>
            </div>
            <div class='text-center payment-details text-white py-3 my-3'>
                PAYMENT DETAILS
            </div>
            <EditForm Model="@meter" OnValidSubmit="ValidateMeter" >
                <div class="form-group px-2 py-2">
                    <label class='pl-2 mb-0'><strong>Merchant</strong> </label>
                    <select @bind="meter.discoRef"  class='form-control border-0'>
                        <option selected="selected" value="5">Select Merchant</option>
                        @foreach (var item in GetDiscos().Result)
                        {
                            <option value="@item.Ref">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group px-2 py-2">
                    <label class="pl-2 mb-0"><strong>Meter Number</strong> </label>
                    <input type="text" @bind-value="meter.meterRef" class="form-control border-0"  >
                </div>

                <div class="form-group pl-2 py-2">
                    <label class="pl-2"><strong>Phone Number</strong> </label>

                    <input type="text" class="form-control border-0" @bind-value="meter.customerPhone" placeholder="Enter your phone number" >
                </div>
                <div class="form-group pl-2 py-2">
                    <label class="pl-2"><strong>Email Address</strong> </label>

                    <input type="email" @bind-value="meter.customerEmail" class="form-control border-0" placeholder="Enter Mail" >
                </div>
                <div class="form-group pl-2 py-2">
                    <label class="pl-2"><strong>Amount</strong> </label>

                    <input type="number" @bind-value="meter.amount" class="form-control border-0" placeholder="Amount Of power in naira" >
                </div>
                <div class="form-group pl-2 py-2">
                    <button type="submit" class="btn btn-yellow btn-block btn-rounded"><text style="font-size:70%">Proceed to Start Payment</text></button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code{

    private MeterValidateReq meter = new MeterValidateReq();

    public async Task<List<UIDiscoObject>> GetDiscos()
    {
        try
        {
            List<UIDiscoObject> objDisco = new List<UIDiscoObject>();
            var res = await _meterService.GetDiscos();
            foreach (var data in res.Data.data)
            {
                UIDiscoObject s = new UIDiscoObject();
                s.Ref = data.reference;
                s.Name = data.name;
                objDisco.Add(s);
            }
            return objDisco;
        }
        catch (Exception ex)
        {
            return null;
        }
    }

    public async Task ValidateMeter()
    {

    }


}
